.chat {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
  }
  .chat__sidebar {
    height: 100%;
    background: linear-gradient(220deg,  #6f0064 , rgb(0, 11, 75));
    flex: 0.2;
    padding: 16px;
  }
  .chat__main {
    height: 100%;
    flex: 0.8;
  }
  .chat__header {
    margin: 30px 0 20px 0;
  }
  .chat__users > * {
    margin-bottom: 10px;
    color: #607eaa;
    font-size: 14px;
  }
  .online__users > * {
    margin-bottom: 10px;
    color: rgb(238, 102, 102);
    font-style: italic;
  }
  .chat__mainHeader {
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content:space-evenly;
    padding: 20px;
    background: linear-gradient(70deg,  #6f0064 , rgb(0, 11, 75));
  }
  .leaveChat__btn {
    padding: 10px;
    width: 150px;
    border: none;
    outline: none;
    cursor: pointer;
    
  }
  .message__container {
    width: 100%;
    height: 80vh;
    background: rgba(0, 0, 0, 0.827);
    padding: 20px;
    overflow-y: scroll;
    
  }
  
  .message__container > * {
    margin-bottom: 10px;
    
  }
  .chat__footer {
    padding: 10px;
    background: linear-gradient(190deg,  #6f0064 , rgb(0, 11, 75));
    height: 10vh;
  }
  .form {
    width: 100%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .message {
    width: 80%;
    height: 100%;
    border-radius: 10px;
    border: 2px solid #09003b;
    outline: none;
    padding: 16px;
  }
  .sendBtn {
    width: 100px;
    background-color: rgb(0, 34, 128);
    padding: 10px;
    border: none;
    outline: none;
    color: #eae3d2;
    cursor: pointer;
  }

  .message__recipient {
    background-color: #012470;
    width: 300px;
    padding: 10px;
    border-radius: 10px;
    font-size: 15px;
  }
  .message__sender {
    background-color: rgb(231, 252, 251);
    max-width: 300px;
    padding: 10px;
    border-radius: 10px;
    margin-left: auto;
    font-size: 15px;
  }
  .message__chats > p {
    font-size: 13px;
  }
  .sender__name {
    text-align: right;
  }
  .message__status {
    position: fixed;
    bottom: 50px;
    font-size: 13px;
    font-style: italic;
  }

  .boton-salir{
    color: rgb(255, 255, 255);
    transition: 0.5s;
    background: none;
    border: none;
}

.boton-salir:hover{
    padding-top: 8px;
    padding-left: 12px;
    padding-right: 12px;
    padding-bottom: 8px;
    border-radius: 8px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border: 2px solid;
    color: rgb(255, 255, 255); 
    background: linear-gradient(400deg,  #ac5300 , rgb(141, 1, 1));
    text-align: center;
}