.card-login{
    background: linear-gradient(200deg, transparent, #15107c);
    padding-top: 24px;
    padding-bottom: 24px;
    text-align: center;
    padding-left: 16px;
    padding-right: 16px;
    border-width: 1px;
    border-style: solid;
    border-block-start-color: #76197e;
    border-right-color: #76197e;
    border-bottom-color: #3d3e99;
    border-left-color: #3d3e99;
    border-radius: 16px;
    width: 20%;
    
  }

.cardlogin-posicion{
    display: flex;
    gap: 40px;
    

}