.imagenseccion1{
    background-image: url(../../assets/Imagenes/background4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    width:100%;
    height: 70vh;
    vertical-align: middle;
}
.imagenseccion2{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width:100%;
    display: flex;
    align-items: center;
    justify-content: end;
    flex-direction: column;
    margin-top: 40px;
    margin-bottom: 40px;
    gap: 24px;
}

.carrousel-inicio{
    display: flex;
    width: 70%;
    height: 480px;
    
}

.carrousel-inicio img{
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    opacity: .7;
    transition:  .5s ease;
    
}
.carrousel-inicio img:hover{
    width: 300px;
    opacity: 1;
    filter: contrast(100%);
}