#input-error{
    color: rgb(184, 0, 0);
  }
 
  .juegos-seleccion{
    display: flex;
    flex-direction: column;
    align-items:end;
    padding: 24px;
    margin-top: 40px;
    
  }
  .posicion-plataforma{
    display: flex;
    flex-direction: column;
    align-items: end;
  }

  .posicion-registro{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: start;
    margin: 0;
  }

