.card-registro{
  background: linear-gradient(60deg, black, #00074a , rgb(0, 0, 0));
  padding-top: 24px;
  padding-bottom: 24px;
  text-align: center;
  padding-left: 24px;
  padding-right: 24px;
  border-width: 1px;
  border-style: solid;
  border-block-start-color: #2e0000;
  border-right-color: #2e0000;
  border-radius: 16px;
  width: 20%;
  }

  #input-error{
    color: rgb(184, 0, 0);
  }

  .card-juegos{
    background: linear-gradient(60deg, black, #00074a , rgb(0, 0, 0));
    text-align: start;
    border-width: 1px;
    border-style: solid;
    border-block-start-color: #2e0000;
    border-right-color: #2e0000;
    border-radius: 16px;
    width: 40%;
  }